.container.mt-3
  .card
    .card-header
      %h1 Create a new lesson
    .card-body
      = render 'form'

  %a{href: "javascript:history.back()", class: "btn btn-sm btn-outline-secondary mt-3 bg-purple border-0 text-white"} Back
