@import './actiontext.scss';
@import './components/index';
@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Great+Vibes&family=Lora:wght@400;500;600;700&family=Merriweather&family=Pacifico&display=swap');
* {
  text-decoration: none !important;
}

.form-control.is-invalid,
.form-control.is-valid {
  background-image: none;
}

#dark_mode_btn {
  font-size: 30px;
  position: fixed;
  bottom: 15px;
  right: 10px;
  color: #fff;
  padding: 15px;
  border-radius: 50%;
  background: rgba(236, 192, 207, 0.9);
  z-index: 1000;
}

#dark_mode_btn:hover {
  cursor: pointer;
}
