@import './actiontext.scss';
@import './components/index';
@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Great+Vibes&family=Lora:wght@400;500;600;700&family=Merriweather&family=Pacifico&display=swap');
* {
  text-decoration: none !important;
}

input:focus,
textarea:focus,
button:focus,
trix-editor:focus,
select:focus,
form:focus {
  outline: solid 2px rgba(73, 65, 114, 0.8) !important;
  box-shadow: 0 0 10px #719ece;
}

.form-control.is-invalid,
.form-control.is-valid {
  background-image: none;
}

.nav-link {
  font-size: 15px !important;
}

#dark_mode_btn {
  font-size: 26px;
  position: fixed;
  bottom: 15px;
  right: 10px;
  color: #fff;
  padding: 12px;
  border-radius: 50%;
  background: rgba(73, 65, 114, 0.8);
  z-index: 1000;
}

#dark_mode_btn:hover {
  cursor: pointer;
}
