.logo_img {
  max-height: 2em;
  max-width: 2em;
  background: rgba(255, 255, 255, 0.4);
  border: #38316e solid 3px;
  padding: 3px;
  border-radius: 50%;
}

.btn-cta {
  // background-color: #7f303a;
  // background: #38316e;
  transition: 150ms ease-in;
  color: black;
  width: 42px;
  border-radius: 100% !important;
  padding: 10px;
  // background-color: #160f29;
  // background-color: #330C2F;
  //2nd option
}

.btn-cta2 {
  background: rgba(73, 65, 114, 0.8);
  transition: 150ms ease-in;
  color: white;
}

.btn-cta2:hover {
  background: #38316e;
  color: white;
}

.tns-controls {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    font-size: 25px;
    color: whitesmoke;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 50%;
    box-shadow: 2px 2px 6px #ccc;
    background: #cec0fc;
    border: none;
    transition: 200ms ease-in;
    z-index: 1000;
  }
  button:hover {
    background: rgba(73, 65, 114, 0.8);
  }
}

// Accordion

.accordion-collapse {
  border: 0;
}
.accordion-button {
  border: 0;
  font-size: 18px;
  color: #38316e;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.accordion-button:focus {
  box-shadow: none;
  border: none;
}

.accordion-button::after {
  width: auto;
  height: auto;
  content: '+';
  font-size: 40px;
  background-image: none;
  text-align: center;
  font-weight: 400;
  color: #38316e;
}
.accordion-button:not(.collapsed)::after {
  width: auto;
  height: auto;
  background-image: none;
  content: '-';
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  transform: rotate(180deg);
}

.tns-controls:focus {
  outline: none;
}

@media screen and (max-height: 740px) {
  .tns-controls {
    display: none;
  }
  .logo_img {
    margin-right: 0 !important;
  }
}
