.btn-cta {
  // background-color: #7f303a;
  background-color: rgba(254, 193, 11, 0.7);
  transition: 200ms ease-in;
  // background-color: #160f29;
  // background-color: #330C2F;
  //2nd option
}

.btn-cta:hover {
  background: rgba(236, 192, 207, 0.9);
}
