.hover-card-blue,
.hover-card-salmon,
.hover-card-aqua,
.hover-card-pink {
  transition: 200ms ease-in-out;
}

// .hover-card-pink {
//   background: rgba(236, 192, 207, 0.9) !important;
// }

.hover-card-blue:hover,
.hover-card-blue:active,
.hover-card-salmon:hover,
.hover-card-salmon:active,
.hover-card-aqua:hover,
.hover-card-aqua:active,
.hover-card-pink:hover,
.hover-card-pink:active {
  background: #c4dcdc !important;
  border: solid #011 2px !important;
}

// .hover-card-salmon:hover,
// .hover-card-salmon:active,
// .hover-card-aqua:hover,
// .hover-card-aqua:active,
// .hover-card-pink:hover,
// .hover-card-pink:active {
//   background: rgba(246, 189, 96, 0.9) !important;
// }

// .hover-card-aqua:hover,
// .hover-card-aqua:active {
//   background: rgba(181, 244, 247, 0.9) !important;
// }

// .hover-card-pink:hover,
// .hover-card-pink:active {
//   background: rgba(236, 192, 207, 0.9) !important;
// }
