.visible {
  z-index: 1000 !important;
}

.heavy_round {
  border-radius: 20px;
}

.inline {
  display: inline-flex !important;
}

.border-min {
  border: 0.5px solid rgba(254, 193, 11, 0.2);
  border-radius: 10px;
}
