.visible {
  z-index: 1000 !important;
}

.heavy_round {
  border-radius: 20px;
}

.inline {
  display: inline-flex !important;
}

.border-min {
  border: 0.5px solid rgba(254, 193, 11, 0.2);
  border-radius: 10px;
}

.text_logo {
  color: #38316e;
}

.bg-purple {
  background: rgba(73, 65, 114, 0.8);
}

.bg-darkred {
  background: #762933;
}

.bg-lightyellow {
  background: #f6bd60;
}

.white {
  color: #fff !important;
}

.text-light-grey {
  color: #ddd;
}

.text-white-75 {
  color: #eed;
}

.rounded-heavy {
  border-radius: 50px !important;
}

.rounded-heavy:focus {
  // outline: solid 2px rgba(102, 90, 161, 0.8) !important;
  box-shadow: 0 0 3pt 2pt rgba(102, 90, 161, 0.8) !important;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #38316a;
}

@keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
.strike {
  position: relative;
  font-size: 20px;
}
.strike::after {
  content: ' ';
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 2px;
  background: black;
  animation-name: strike;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.w-md-50 {
  width: 40% !important;
}
