.container.mt-3
  .card
    .card-header
      %h1 Edit course
    .card-body
      = render 'form'

  = link_to 'Show', @course, class: "btn btn-sm btn-secondary mt-3"
  = link_to 'Back', courses_path, class: "btn btn-sm btn-outline-secondary mt-3"
