
.container.mt-3
  .card
    .card-header
      %h1 New course
    .card-body
      = render 'form'

  %a{href: "javascript:history.back()", class: 'btn btn-sm bg-purple btn-outline-secondary border-0 text-white mt-3'} Back

