= link_to 'Courses', courses_path, class: "text-decoration-none"
\/ 
= link_to @course.title, course_path(@course), class: 'card-link text-decoration-none text-black fw-bold'
%p
= render 'courses/course', course: @course 
